*/*
01 jf2-end rap-la-muumuu (techno mix).mp3
02 jf1-w1 jump in the grasslands!.mp3
03 jf1-w2 checking out the ruins.mp3
04 jf1-w3 hello amusement park.mp3
05 jf1-w4 slippery ice floe.mp3
06 jf1-w5 chinatown.mp3
07 jf1-w6 distant cosmos.mp3
08 jf1-w1 boss dragon machine.mp3
09 jf1-w2 boss scorpion machine.mp3
10 jf1-w3 boss genie machine.mp3
11 jf1-w4 boss turtle machine.mp3
12 jf1-w5 boss transformer cube machine.mp3
13 jf1-w6 boss aloha robo.mp3
14 jf-select which one to do.mp3
15 jf2-w1 jump in hawaii!.mp3
16 jf2-w2 checking out the castle.mp3
17 jf2-w3 my babel.mp3
18 jf2-w4 aloha's secret base.mp3
19 jf2-w5 hello again amusement park.mp3
20 jf2-w6 captain house.mp3
21 jf1-end thank goodness.mp3
22 jf2-end rap-la-muumuu.mp3
JumpingFlash! 2 Original Game Soundtrack.jpg
import khinsider - python script.py

